        <section class="chooseus-section pt-120 rpt-100 pb-120 rpb-95">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="chooseus-left-content">
                            <div class="experience-years">
                                <h1>25+</h1>
                                <h4>Years Experience</h4>
                            </div>
                            <div class="chooseus-img">
                                <img src="assets/images/chooseus/imag1.jpeg" alt="Choose Us Image" />
                            </div>
                            <div class="experience-content">
                                <blockquote>It has survived not only five centuries, but also the leap into electronic types remaining essentially unchanged.</blockquote>
                                <div class="quotation-icon">
                                    <img src="assets/images/chooseus/quotation-icon.png" alt="Quotation" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="chooseus-right-content">
                            <div class="section-title">
                                <span>Why Choose Us!</span>
                                <h2>Some Reason Why You Should Choose Us!</h2>
                            </div>
                            <div class="chooseus-list">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <ul>
                                            <li><i class="icofont-check"></i> Simplify Communication</li>
                                            <li><i class="icofont-check"></i> Eliminate Repeat Entry</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <ul>
                                            <li><i class="icofont-check"></i> 24/7 Customer Service</li>
                                            <li><i class="icofont-check"></i> Expert Team Members</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <blockquote>It has survived not only five centuries, but also the leap into the typesetting, remaining essentially unchanged. It was popular of the release and more recent.</blockquote>
                            <p>It has survived not only five centuries, but also the leap into electroni typesetting, remaining essentially unchanged. It was popularised the 1960s with the release and more recent.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>