<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>Sarova - Computers & IT Solutions</title>
    <link rel="shortcut icon" href="{{ get_url(path="assets/images/favicon.png") | safe }}" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap" />
    <link rel="stylesheet" href="{{ get_url(path="assets/css/magnific-popup.min.css") | safe }}" />
    <link rel="stylesheet" href="{{ get_url(path="assets/css/bootstrap.min.css") | safe }}" />
    <link rel="stylesheet" href="{{ get_url(path="assets/css/icofont.min.css") | safe }}" />
    <link rel="stylesheet" href="{{ get_url(path="assets/css/spacing.min.css") | safe }}" />
    <link rel="stylesheet" href="{{ get_url(path="assets/css/leaflet.min.css") | safe }}" />
    <link rel="stylesheet" href="{{ get_url(path="assets/css/slick.min.css") | safe }}" />
    <link rel="stylesheet" href="{{ get_url(path="assets/css/menu.css") | safe }}" />
    <link rel="stylesheet" href="{{ get_url(path="assets/css/style.css") | safe }}" />
    <link rel="stylesheet" href="{{ get_url(path="assets/css/responsive.css") | safe }}" />
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
</head>