        <div class="partner-section">
            <div class="container">
                <div class="partners-group">
                    <div class="row">
                        <div class="col-md-3 col-6">
                            <div class="partner-logo">
                                <a href="https://www.domain.com">
                                    <img src="assets/images/partners/partner-logo1.png" alt="Partner Logo" />
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="partner-logo">
                                <a href="https://www.domain.com">
                                    <img src="assets/images/partners/partner-logo2.png" alt="Partner Logo" />
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="partner-logo">
                                <a href="https://www.domain.com">
                                    <img src="assets/images/partners/partner-logo3.png" alt="Partner Logo" />
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="partner-logo">
                                <a href="https://www.domain.com">
                                    <img src="assets/images/partners/partner-logo4.png" alt="Partner Logo" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>