        <section class="service-section pt-110 rpt-90 pb-70 rpb-100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title text-center">
                            <span>Our Services</span>
                            <h2>Choose Service For Manage Your Business</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-xl-9">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="service-item">
                                    <div class="serv-iconimg">
                                        <img src="assets/images/service/serv-icon1.png" alt="Service Icon" />
                                    </div>
                                    <div class="serv-content">
                                        <h5><a href="/contact">IT Management<br /> Services.</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="service-item">
                                    <div class="serv-iconimg">
                                        <img src="assets/images/service/serv-icon2.png" alt="Service Icon" />
                                    </div>
                                    <div class="serv-content">
                                        <h5><a href="/contact">Backup & Data<br /> Recovery.</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="service-item">
                                    <div class="serv-iconimg">
                                        <img src="assets/images/service/serv-icon3.png" alt="Service Icon" />
                                    </div>
                                    <div class="serv-content">
                                        <h5><a href="/contact">Cloud Managed<br /> Services.</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="service-item">
                                    <div class="serv-iconimg">
                                        <img src="assets/images/service/serv-icon4.png" alt="Service Icon" />
                                    </div>
                                    <div class="serv-content">
                                        <h5><a href="/contact">Cyber Security<br /> Services.</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="service-item">
                                    <div class="serv-iconimg">
                                        <img src="assets/images/service/serv-icon5.png" alt="Service Icon" />
                                    </div>
                                    <div class="serv-content">
                                        <h5><a href="/contact">Software<br /> Development.</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="service-item">
                                    <div class="serv-iconimg">
                                        <img src="assets/images/service/serv-icon6.png" alt="Service Icon" />
                                    </div>
                                    <div class="serv-content">
                                        <h5><a href="/contact">Big Data And<br /> Analytics.</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-3">
                        <div class="service-img">
                            <div class="service-details-btn">
                                <a href="/contact" class="btn theme-btn">More Services<i class="icofont-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>