        <section class="team-section pt-110 rpt-90 pb-120 rpb-60">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title text-center">
                            <span>Team Members</span>
                            <h2>Our Professional<br /> Team Members</h2>
                        </div>
                    </div>
                </div>
                <div class="team-wrap">
                    <div class="border-shap"></div>
                    <div class="team-member">
                        <div class="member-image">
                            <img src="assets/images/team/team-member1.jpg" alt="Team Member Image" />
                        </div>
                        <div class="member-desc">
                            <h5>Sharyl Etheridge</h5>
                            <span>Consultant Officer</span>
                        </div>
                    </div>
                    <div class="team-member">
                        <div class="member-image">
                            <img src="assets/images/team/team-member2.jpg" alt="Team Member Image" />
                        </div>
                        <div class="member-desc">
                            <h5>Brittaney Hickson</h5>
                            <span>Web Developer</span>
                        </div>
                    </div>
                    <div class="team-member">
                        <div class="member-image">
                            <img src="assets/images/team/team-member3.jpg" alt="Team Member Image" />
                        </div>
                        <div class="member-desc">
                            <h5>Rosalina Sheldon</h5>
                            <span>UI Designer</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>