<!DOCTYPE html>
<html lang="en">
{% include "_head.html" %}
<body>
    <div class="page-wrapper">

        <div class="preloader"></div>

        <header class="main-header">
            {% include "_header_upper.html" %}
        </header>
        <!-- END Main Header -->

        <!-- START Hero Section -->
        <section class="hero-section">
            <div class="hero-shape">
                <img src="assets/images/hero/hero-shape.png" alt="Hero Shape Image" />
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-content">
                            <h1>IT Services, Support & Hardware.</h1>
                            <p>Laptops, Desktops, Hard drives, Repairs, Chargers, TVs and Accessories.</p>
                            <a href="services" class="btn theme-btn">Find out more<i class="icofont-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Hero Section -->

        <!-- START Choose Us Section -->
        {% include "_choose.html" %}
        <!-- END Choose Us Section -->

        <!-- START Partner Section -->

        <!-- END Partner Section -->

        <!-- START Project Section -->
        <section class="project-section pt-110 rpt-90 pb-60">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title text-center">
                            <span>Our Services</span>
                            <h2>Our Successful offerings for our valued Clients.</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="project-item">
                                    <div class="project-image">
                                        <img src="assets/images/project/1.jpeg" alt="Project Image" />
                                    </div>
                                    <div class="project-content">
                                        <a href="projectdetails.html" class="project-icon">
                                            <i class="icofont-arrow-right"></i>
                                        </a>
                                        <h5><a href="/contact">Laptop Supplies.</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="project-item">
                                    <div class="project-image">
                                        <img src="assets/images/project/2.jpeg" alt="Project Image" />
                                    </div>
                                    <div class="project-content">
                                        <a href="projectdetails.html" class="project-icon">
                                            <i class="icofont-arrow-right"></i>
                                        </a>
                                        <h5><a href="/contact">Laptop Repairs.</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="project-item">
                                    <div class="project-image">
                                        <img src="assets/images/project/3.jpeg" alt="Project Image" />
                                    </div>
                                    <div class="project-content">
                                        <a href="projectdetails.html" class="project-icon">
                                            <i class="icofont-arrow-right"></i>
                                        </a>
                                        <h5><a href="/contact">Computer Spares.</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="project-item">
                                    <div class="project-image">
                                        <img src="assets/images/project/4.jpeg" alt="Project Image" />
                                    </div>
                                    <div class="project-content">
                                        <a href="projectdetails.html" class="project-icon">
                                            <i class="icofont-arrow-right"></i>
                                        </a>
                                        <h5><a href="/contact">Swaps/Exchanges.</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="project-item project-right-item">
                            <div class="project-content">
                                <a href="projectdetails.html" class="project-icon">
                                    <i class="icofont-arrow-right"></i>
                                </a>
                                <h5><a href="/contact">Consultations.</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Project Section -->

        <!-- START Testimonial Section -->
        <section class="testimonial-section pb-105 rpb-85">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title text-center">
                            <span>Testimonial</span>
                            <h2>What People Say<br /> About Our Company Services.</h2>
                        </div>
                    </div>
                </div>
                <div class="testimonial-wrap">
                    <div class="testimonial-item">
                        <div class="testimonial-inner">
                            <div class="quotation-img">
                                <img src="assets/images/testimonial/quotation-icon.png" alt="Quotation" />
                            </div>
                            <div class="testimonial-content">
                                <p>It has survived not only five centuries, but also the leap into typesetting, remaining essentially unchanged. It popular of the release and more recent five and centurbut also these tesetng remaining essentially.</p>
                            </div>
                        </div>
                        <div class="testimonial-imgbox">
                            <div class="testimonial-img">
                                <img src="assets/images/testimonial/testimonial1.png" alt="Author Image" />
                            </div>
                            <div class="testimonial-imgdetails">
                                <h5>Ronnie Aguilar</h5>
                                <span>Web Developer</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="testimonial-inner">
                            <div class="quotation-img">
                                <img src="assets/images/testimonial/quotation-icon.png" alt="Quotation" />
                            </div>
                            <div class="testimonial-content">
                                <p>Remaining essentially unchanged. It popular of the release and more recent five and centurbut also today these tesetng remaining essentially, t has survived not only five centuries, but also the leap into typesetting.</p>
                            </div>
                        </div>
                        <div class="testimonial-imgbox">
                            <div class="testimonial-img">
                                <img src="assets/images/testimonial/testimonial2.png" alt="Author Image" />
                            </div>
                            <div class="testimonial-imgdetails">
                                <h5>Darla Harmon</h5>
                                <span>UX Designer</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="testimonial-inner">
                            <div class="quotation-img">
                                <img src="assets/images/testimonial/quotation-icon.png" alt="Quotation" />
                            </div>
                            <div class="testimonial-content">
                                <p>It has survived not only five centuries, but also the leap into typesetting, remaining essentially unchanged. It popular of the release and more recent five and centurbut also these tesetng remaining essentially.</p>
                            </div>
                        </div>
                        <div class="testimonial-imgbox">
                            <div class="testimonial-img">
                                <img src="assets/images/testimonial/testimonial1.png" alt="Author Image" />
                            </div>
                            <div class="testimonial-imgdetails">
                                <h5>Ronnie Aguilar</h5>
                                <span>Web Developer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Testimonial Section -->

        <!-- START Call To Action -->
        {% include "_calltoaction.html" %}
        <!-- END Call To Action -->
        <!-- START Blog Section -->
    
        <!-- END Blog Section -->
        
        {% include "_footer.html" %}
        
    </div>
    <!--End pagewrapper-->

    <!-- Scroll Top Button -->
    <button class="scroll-top scroll-to-target" data-target="html"><i class="icofont-arrow-up"></i></button>
    {% include "_scripts.html" %}

</body>
</html>